@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.Navbar {
  display: flex;
  align-items: center;
  height: 7vh;

  &__logo {
    background-color: #cccc;
    font-size: 2.2rem;
    height: 100%;
    padding: 0 3rem;
    font-family: "Dancing Script", cursive;
    display: flex;
    align-items: center;
  }

  &__slider {
    width: 35rem;
    margin: 0 1rem;

    .rc-slider-track {
      background-color: transparent;
    }
    .rc-slider-handle,
    .rc-slider-handle:active,
    .rc-slider-handle:focus,
    .rc-slider-handle:hover {
      background-color: green;
      outline: none;
      border: none;
      margin-top: -3px;
    }

    .rc-slider-rail {
      height: 0.8rem;
    }
  }

  &__select {
    margin-left: auto;
    margin-right: 1rem;
  }

  .message-id {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
